<!-- Base html. Importing Bootstrap and Poppins font. -->

<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>TF-Flask</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static',filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/styles.css') }}">
    {% endblock %}
</head>

<body>
{% block body %}
{% endblock %}

<script src="{{ url_for('static',filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>

</body>
</html>